.container__novedades, .container__video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container__somos--d .container__somos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__video .main__inicio .main__inicio__p, .container__video .main__inicio .main__inicio__subtitulo, .container__video .main__inicio .main__inicio__titulo {
  color: white;
  background: rgba(223, 231, 233, 0);
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 4px 1px;
}

* {
  background-color: #ffe6cf;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  color: #48000c;
}

p::selection,
h3::selection,
h4::selection,
a::selection {
  background-color: #48000c;
  color: white;
}

body {
  background-color: #ffe6cf;
}

h1 {
  font-weight: 700;
}
h1::selection {
  background-color: #48000c;
  color: white;
}

h2 {
  font-weight: 600;
}
h2::selection {
  background-color: #48000c;
  color: white;
}

.header {
  height: 105px;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .header {
    height: 105px;
  }
}
.header .header__nav {
  border-bottom: 2px solid #48000c;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
@media only screen and (max-width: 600px) {
  .header .header__nav {
    padding-top: 10px;
    border-bottom: 2px solid #48000c;
  }
}
.header .header__nav .navbtn {
  margin-right: 30px;
}
.header .header__nav .header__nav__inicio {
  height: 100px;
  width: 200px;
  margin-left: 30px;
  background-image: url("../iconos/logo2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 944px) {
  .header .header__nav .header__nav__inicio {
    background-image: url(../iconos/logo.png);
    background-repeat: no-repeat;
    margin: 0px;
    width: 105px;
    margin-left: 20px;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .header .header__nav .header__nav__inicio {
    background-image: url("../iconos/logo.png");
    background-repeat: no-repeat;
  }
}

#navbarOffcanvasLg {
  background-color: #ffe6cf;
}
@media screen and (max-width: 992px) {
  #navbarOffcanvasLg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    height: 380px;
    border-radius: 0px 0px 0px 20px;
    -webkit-border-radius: 0px 0px 0px 20px;
    -moz-border-radius: 0px 0px 0px 20px;
    -ms-border-radius: 0px 0px 0px 20px;
    -o-border-radius: 0px 0px 0px 20px;
    overflow: hidden;
  }
}

.header__nav__list {
  list-style: none;
  display: flex;
  padding-right: 20px;
  justify-content: end;
  padding-top: 20px;
}
@media screen and (max-width: 992px) {
  .header__nav__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    list-style: circle;
  }
}
.header__nav__list .header__nav__list__item {
  display: flex;
  margin: 0px 20px;
  font-size: 1.3rem;
}
@media screen and (max-width: 992px) {
  .header__nav__list .header__nav__list__item {
    font-size: 1.4rem;
    margin: 10px 0px;
  }
}
@media only screen and (max-width: 600px) {
  .header__nav__list .header__nav__list__item {
    font-size: 1.3rem;
    color: #48000c;
    text-decoration: none;
    margin: 10px 0px;
  }
}
.header__nav__list .header__nav__list__item .pagina {
  font-weight: 700;
  text-decoration: none;
  color: #48000c;
}
@media screen and (max-width: 992px) {
  .header__nav__list .header__nav__list__item .pagina {
    display: initial;
  }
}
@media only screen and (max-width: 992px) and (max-width: 600px) {
  .header__nav__list .header__nav__list__item .pagina {
    font-size: 1.4rem;
  }
}
.header__nav__list .header__nav__list__item .pagina i {
  display: none;
}
@media screen and (max-width: 992px) {
  .header__nav__list .header__nav__list__item .pagina i {
    display: initial;
  }
}
.header__nav__list .header__nav__list__item .pagina:hover {
  color: #fd012a;
}

@media screen and (max-width: 992px) {
  btn-close {
    font-size: 1.4rem;
    margin: 20px;
  }
}

.container__enlacefinal {
  padding-top: 40px;
  height: 130px;
  text-align: center;
}
.container__enlacefinal .container__enlacefinal__a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fd012a;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .container__enlacefinal .container__enlacefinal__a {
    font-size: 1.9rem;
  }
}
.container__enlacefinal .container__enlacefinal__a:hover {
  color: #a30015;
}

footer {
  border-top: 2px solid #48000c;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  footer {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
}
footer .footer__copyright {
  padding-left: 20px;
  font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
  footer .footer__copyright {
    padding: 0px;
    font-size: 1.3rem;
  }
}
footer .footer__social {
  display: flex;
  padding-right: 20px;
}
@media only screen and (max-width: 600px) {
  footer .footer__social {
    padding: 0px;
    padding-bottom: 10px;
  }
}
footer .footer__social a {
  margin: 0px 5px;
}
footer .footer__social a i {
  font-size: 2.2rem;
}
@media only screen and (max-width: 600px) {
  footer .footer__social a i {
    font-size: 3rem;
  }
}

.carro {
  display: none;
}
@media screen and (max-width: 768px) {
  .carro {
    display: flex;
  }
}

.container__video {
  width: 100%;
  height: 480px;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .container__video {
    height: 700px;
  }
}
.container__video video {
  object-fit: cover;
  width: 100%;
  height: 480px;
  position: absolute;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .container__video video {
    height: 700px;
  }
}
.container__video .container__overlay {
  position: absolute;
  width: 100%;
  height: 480px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 600px) {
  .container__video .container__overlay {
    height: 700px;
  }
}
.container__video .main__inicio {
  background: rgba(223, 231, 233, 0);
  width: 600px;
  position: relative;
  z-index: 3;
}
.container__video .main__inicio .main__inicio__titulo {
  text-transform: uppercase;
  font-size: 55px;
  line-height: 1.1;
}
@media screen and (max-width: 768px) {
  .container__video .main__inicio .main__inicio__titulo {
    text-transform: uppercase;
    font-size: 65px;
  }
}
@media only screen and (max-width: 600px) {
  .container__video .main__inicio .main__inicio__titulo {
    font-size: 45px;
  }
}
.container__video .main__inicio .main__inicio__subtitulo {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .container__video .main__inicio .main__inicio__subtitulo {
    font-size: 27px;
  }
}
@media only screen and (max-width: 600px) {
  .container__video .main__inicio .main__inicio__subtitulo {
    font-size: 25px;
  }
}
.container__video .main__inicio .main__inicio__p {
  font-size: 16px;
  line-height: 1.4;
}
@media screen and (max-width: 768px) {
  .container__video .main__inicio .main__inicio__p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .container__video .main__inicio .main__inicio__p {
    font-size: 20px;
  }
}

.container__vermas {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.container__vermas__article {
  padding: 20px;
  width: 300px;
  height: 500px;
  margin: 40px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
@media screen and (max-width: 768px) {
  .container__vermas__article {
    width: 70%;
    margin: 60px 15%;
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  .container__vermas__article {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 70px;
    margin-top: 40px;
    height: 500px;
  }
}
.container__vermas__article .vermas__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.container__vermas__article .vermas__contenido .container__vermas__titulo {
  font-weight: 700;
}
.container__vermas__article .vermas__contenido .container__vermas__imagen {
  object-fit: cover;
  height: 250px;
  width: 260px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .container__vermas__article .vermas__contenido .container__vermas__imagen {
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .container__vermas__article .vermas__contenido .container__vermas__imagen {
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .container__vermas__article .vermas__contenido .container__vermas__p {
    width: 80%;
    padding-top: 10px;
  }
}
.container__vermas__article .container__vermas__a {
  padding: 10px 20px;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #48000c;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .container__vermas__article .container__vermas__a {
    font-size: 1.3rem;
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 600px) {
  .container__vermas__article .container__vermas__a {
    margin: 20px 0px;
  }
}
.container__vermas__article .container__vermas__a:hover {
  color: white;
  background-color: #a30015;
}

.container__titulo {
  margin: 40px 10px 0px;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container__titulo {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .container__titulo {
    margin-bottom: 20px;
  }
}

.container__novedades {
  width: 100%;
  height: 450px;
}
@media screen and (max-width: 768px) {
  .container__novedades {
    height: 900px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .container__novedades {
    height: auto;
    width: 100%;
  }
}

.container__novedades__article {
  display: inline-block;
  width: 350px;
  height: 350px;
  overflow: hidden;
  padding: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
@media screen and (max-width: 768px) {
  .container__novedades__article {
    display: flex;
    padding: 0px;
    width: 90%;
    height: 250px;
    margin: 40px 5% 50px 5%;
  }
}
@media only screen and (max-width: 600px) {
  .container__novedades__article {
    flex-direction: column;
    padding: 0px;
    align-items: center;
    max-width: 100%;
    height: 400px;
    margin: 20px 5%;
    margin-bottom: 50px;
  }
}
.container__novedades__article h4 {
  overflow: hidden;
  background-size: cover;
  width: 350px;
  height: 200px;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .container__novedades__article h4 {
    padding: 10px;
    height: 250px;
    font-size: 1.2rem;
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .container__novedades__article h4 {
    padding: 10px 0px;
    font-size: 1.8rem;
    width: 100%;
    height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.container__novedades__article .container__novedades__h4--jf {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../imagenes/festival.jpg);
}
.container__novedades__article .container__novedades__h4--nl {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../imagenes/nuevolocal2.jpg);
}
.container__novedades__article .container__novedades__h4--sf {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../imagenes/streetfood.jpg);
}
.container__novedades__article .container__novedades__p {
  padding: 10px;
  font-size: 0.88rem;
}
@media screen and (max-width: 768px) {
  .container__novedades__article .container__novedades__p {
    padding: 20px;
    font-size: 1.1rem;
    width: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .container__novedades__article .container__novedades__p {
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    height: 40%;
  }
}

@media screen and (max-width: 768px) {
  .indexlg {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .indexlg {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .indexslid {
    padding: 30px;
    overflow: hidden;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .novedadeslid {
    width: 100%;
  }
}

.sumate__div {
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .sumate__div {
    height: 700px;
    margin-bottom: 90px;
  }
}
.sumate__div .sumate {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/ramenfondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 480px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .sumate__div .sumate {
    background-attachment: unset;
  }
}
@media only screen and (max-width: 600px) {
  .sumate__div .sumate {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/ramenfondo3.jpg");
    background-size: cover;
    background-position-x: center;
    height: 100%;
    background-repeat: no-repeat;
    padding-top: 350px;
  }
}
.sumate__div .sumate .sumate__h2 {
  padding-top: 20px;
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 2rem;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 4px 1px;
}
@media screen and (max-width: 768px) {
  .sumate__div .sumate .sumate__h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .sumate__div .sumate .sumate__h2 {
    font-size: 1.5rem;
  }
}

.form {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .form {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .form {
    width: 100%;
  }
}
.form div .logo__form {
  height: 50px;
  width: 50px;
  display: inline-block;
}
.form .form__p {
  width: 600px;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media only screen and (max-width: 600px) {
  .form .form__p {
    font-size: 1.5rem;
    width: 90%;
    padding: 10px;
  }
}
.form .form__p form {
  width: 500px;
  margin: 50px auto;
  margin-bottom: 30px;
}
@media only screen and (max-width: 600px) {
  .form .form__p form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.form .form__p form .enviar {
  background: #48000c;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s;
  font-weight: 700;
  width: 180px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.form .form__p form .enviar:hover {
  background: #a30015;
}
.form .form__p form .form__grid {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: repeat(1fr, 6);
  grid-template-areas: "nombre apellido" "fecha pronombre" "email celu" "textarea textarea" "textarea textarea" "cv puesto";
  justify-items: center;
}
@media only screen and (max-width: 600px) {
  .form .form__p form .form__grid {
    grid-template-columns: 1fr 1;
    grid-template-rows: repeat(1fr, 9);
    grid-template-areas: "nombre" "apellido" "fecha" "pronombre" "email" "celu" "textarea" "cv" "puesto";
    width: 95%;
  }
}
.form .form__p form .form__grid #nombre {
  grid-area: nombre;
}
.form .form__p form .form__grid #apellido {
  grid-area: apellido;
}
.form .form__p form .form__grid #fecha {
  grid-area: fecha;
}
.form .form__p form .form__grid #pronombre {
  grid-area: pronombre;
}
.form .form__p form .form__grid #email {
  grid-area: email;
}
.form .form__p form .form__grid #celu {
  grid-area: celu;
}
.form .form__p form .form__grid #textarea {
  grid-area: textarea;
}
@media only screen and (max-width: 600px) {
  .form .form__p form .form__grid #textarea {
    width: 90%;
  }
}
.form .form__p form .form__grid #cv {
  grid-area: cv;
}
.form .form__p form .form__grid #cv input[type=file] {
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 200px;
}
.form .form__p form .form__grid #cv input[type=file]:focus + label {
  border: 2px solid #a30015;
}
@media only screen and (max-width: 600px) {
  .form .form__p form .form__grid #cv {
    width: 90%;
  }
}
.form .form__p form .form__grid #cv label {
  color: #48000c;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #48000c;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 240px;
  box-sizing: border-box;
  outline: 0;
  display: inline-block;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .form .form__p form .form__grid #cv label {
    width: 100%;
    height: 70px;
    font-size: 1.5rem;
    text-align: start;
    padding: 20px 15px;
  }
}
.form .form__p form .form__grid #puesto {
  grid-area: puesto;
}
.form .form__p form .form__grid .feedback-input {
  color: #48000c;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #48000c;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 240px;
  box-sizing: border-box;
  outline: 0;
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  .form .form__p form .form__grid .feedback-input {
    width: 90%;
    height: 70px;
    font-size: 1.5rem;
  }
}
.form .form__p form .form__grid .feedback-input:focus {
  border: 2px solid #a30015;
}
.form .form__p form .form__grid .feedback-text {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  color: #48000c;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #48000c;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.form .form__p form .form__grid .feedback-text:focus {
  border: 2px solid #a30015;
}

.main__ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .main__ubicacion {
    width: 100%;
    height: auto;
  }
}

#horario {
  margin: 20px;
  width: 100%;
}

.localuno {
  width: 70%;
}
@media only screen and (max-width: 600px) {
  .localuno {
    width: 95%;
  }
}

.localdos {
  margin-top: 50px;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .localdos {
    width: 80%;
  }
}

.container__somos--d {
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .container__somos--d {
    height: 745px;
    padding-bottom: 60px;
    margin-top: 15px;
  }
}
.container__somos--d .container__somos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/somos1.jpg");
  background-attachment: fixed;
  height: 480px;
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .container__somos--d .container__somos {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.container__somos--d .container__somos .container__somos__h1 {
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 4px 1px;
}
@media screen and (max-width: 992px) {
  .container__somos--d .container__somos .container__somos__h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 600px) {
  .container__somos--d .container__somos .container__somos__h1 {
    padding-top: 220px;
    height: 100%;
  }
}

.container__comienzo {
  display: grid;
  padding: 20px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr, 4);
  grid-template-areas: "p1 img1 ." "p1 p2 img2" "img3 p2 img4" ". img5 arigato";
  justify-items: center;
  width: 100%;
  margin-top: 100px;
}
@media screen and (max-width: 992px) {
  .container__comienzo {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 5);
    grid-template-areas: "p1 img1" "p1 img2" "img3 p2" "img4 p2" "arigato img5";
    justify-items: center;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .container__comienzo {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 10);
    grid-template-areas: "p1" "p1" "img1" "img2" "p2" "p2" "img3" "img5" "arigato" "img4";
    margin: 0px;
    padding: 0px;
    gap: 20px;
  }
}
.container__comienzo p {
  padding: 20px 40px;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .container__comienzo p {
    font-size: 1rem;
    padding: 0px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .container__comienzo p {
    font-size: 1.4rem;
  }
}
.container__comienzo .container__p {
  grid-area: p1;
}
@media screen and (max-width: 992px) {
  .container__comienzo .container__p {
    text-align: right;
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .container__comienzo .container__p {
    text-align: center;
    width: 100%;
  }
}
.container__comienzo .container__p2 {
  grid-area: p2;
}
@media screen and (max-width: 992px) {
  .container__comienzo .container__p2 {
    text-align: left;
    padding: 20px 20px;
  }
}
@media only screen and (max-width: 600px) {
  .container__comienzo .container__p2 {
    text-align: center;
    width: 100%;
  }
}
.container__comienzo .container__arigato {
  padding: 0px 40px;
  grid-area: arigato;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
  padding-top: 70px;
}
@media screen and (max-width: 992px) {
  .container__comienzo .container__arigato {
    line-height: 50px;
    font-size: 26px;
    text-align: center;
    padding-top: 70px;
  }
}
@media only screen and (max-width: 600px) {
  .container__comienzo .container__arigato {
    padding: 20px;
    text-align: center;
    line-height: 30px;
  }
}
.container__comienzo img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  width: 90%;
  height: 280px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
@media screen and (max-width: 992px) {
  .container__comienzo img {
    width: 90%;
    height: 250px;
  }
}
@media only screen and (max-width: 600px) {
  .container__comienzo img {
    width: 95%;
    height: 280px;
  }
}
.container__comienzo .img1 {
  grid-area: img1;
}
.container__comienzo .img2 {
  grid-area: img2;
}
.container__comienzo .img3 {
  grid-area: img3;
}
.container__comienzo .img4 {
  grid-area: img4;
}
.container__comienzo .img5 {
  grid-area: img5;
}

.container__menu__titulo {
  padding-top: 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container__menu__titulo {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .container__menu__titulo {
    font-size: 3rem;
  }
}

.menu__icono__div {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.menu__icono__div .menu__icono {
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 768px) {
  .menu__icono__div .menu__icono {
    height: 80px;
    width: 80px;
  }
}
@media only screen and (max-width: 600px) {
  .menu__icono__div .menu__icono {
    height: 80px;
    width: 80px;
  }
}

.menu__h2 {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .menu__h2 {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 600px) {
  .menu__h2 {
    font-size: 2.3rem;
  }
}

.menu {
  margin: 20px 0px;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu .menu__platos {
    position: relative;
  }
}
@media only screen and (max-width: 768px) and (max-width: 600px) {
  .menu {
    position: relative;
  }
}
.menu .menu__platos:hover .menu__img {
  transform: translate(125px, 0px);
  -webkit-transform: translate(125px, 0px);
  -moz-transform: translate(125px, 0px);
  -ms-transform: translate(125px, 0px);
  -o-transform: translate(125px, 0px);
  border-radius: 0px 15px 15px 0px;
  -webkit-border-radius: 0px 15px 15px 0px;
  -moz-border-radius: 0px 15px 15px 0px;
  -ms-border-radius: 0px 15px 15px 0px;
  -o-border-radius: 0px 15px 15px 0px;
}
@media screen and (max-width: 768px) {
  .menu .menu__platos:hover .menu__img {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@media only screen and (max-width: 600px) {
  .menu .menu__platos:hover .menu__img {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
.menu .menu__platos:hover .menu__text {
  transform: translate(-125px, 0px);
  -webkit-transform: translate(-125px, 0px);
  -moz-transform: translate(-125px, 0px);
  -ms-transform: translate(-125px, 0px);
  -o-transform: translate(-125px, 0px);
  border-radius: 15px 0px 0px 15px;
  -webkit-border-radius: 15px 0px 0px 15px;
  -moz-border-radius: 15px 0px 0px 15px;
  -ms-border-radius: 15px 0px 0px 15px;
  -o-border-radius: 15px 0px 0px 15px;
}
@media screen and (max-width: 768px) {
  .menu .menu__platos:hover .menu__text {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@media only screen and (max-width: 600px) {
  .menu .menu__platos:hover .menu__text {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

@media screen and (max-width: 768px) {
  .menu2 {
    gap: 60px;
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .menu2 {
    gap: 60px;
    width: 100%;
  }
}

.menu__platos {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media screen and (max-width: 768px) {
  .menu__platos {
    width: 95%;
    height: 350px;
    flex-direction: row-reverse;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin: 30px 2.5%;
  }
}
@media only screen and (max-width: 600px) {
  .menu__platos {
    width: 100%;
    height: 700px;
    flex-direction: column-reverse;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin: 30px 0px;
  }
}
.menu__platos .menu__text {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 250px;
  height: 250px;
  padding: 10px;
  gap: 15px;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
@media screen and (max-width: 768px) {
  .menu__platos .menu__text {
    position: relative;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 100%;
    height: 400px;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .menu__platos .menu__text {
    position: relative;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 100%;
    height: 400px;
    text-align: center;
  }
}
.menu__platos .menu__text .menu__h4 {
  font-size: 1.1rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .menu__platos .menu__text .menu__h4 {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
@media only screen and (max-width: 600px) {
  .menu__platos .menu__text .menu__h4 {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
.menu__platos .menu__text .menu__h4 i {
  font-size: 1.7rem;
}
.menu__platos .menu__text .menu__p {
  font-size: 0.9rem;
}
@media screen and (max-width: 768px) {
  .menu__platos .menu__text .menu__p {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 600px) {
  .menu__platos .menu__text .menu__p {
    font-size: 1.4rem;
  }
}
.menu__platos .menu__img {
  height: 250px;
  width: 250px;
  position: absolute;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
@media screen and (max-width: 768px) {
  .menu__platos .menu__img {
    height: 350px;
    width: 100%;
    position: relative;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
    object-fit: cover;
  }
}
@media only screen and (max-width: 600px) {
  .menu__platos .menu__img {
    height: 400px;
    width: 100%;
    position: relative;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
    object-fit: cover;
  }
}

/*# sourceMappingURL=estilo.css.map */
