* {
  background-color: $color-principal;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  color: $color-secundario;
}
p::selection,
h3::selection,
h4::selection,
a::selection {
  background-color: $color-secundario;
  color: white;
}
body {
  background-color: $color-principal;
}
h1 {
  font-weight: 700;
  &::selection {
    background-color: $color-secundario;
    color: white;
  }
}
h2 {
  font-weight: 600;
  &::selection {
    background-color: $color-secundario;
    color: white;
  }
}
.header {
  height: 105px;
  overflow: hidden;
  @media only screen and (max-width: 600px) {
    height: 105px;
  }
  .header__nav {
    border-bottom: 2px solid $color-secundario;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    @media only screen and (max-width: 600px) {
      padding-top: 10px;
      border-bottom: 2px solid $color-secundario;
    }
    .navbtn {
      margin-right: 30px;
    }
    .header__nav__inicio {
      height: 100px;
      width: 200px;
      margin-left: 30px;
      background-image: url("../iconos/logo2.png");
      background-size: contain;
      background-repeat: no-repeat;
      @media screen and (max-width: 944px) {
        background-image: url(../iconos/logo.png);
        background-repeat: no-repeat;
        margin: 0px;
        width: 105px;
        margin-left: 20px;
        object-fit: cover;
      }
      @media screen and (max-width: 768px) {
        background-image: url("../iconos/logo.png");
        background-repeat: no-repeat;
      }
    }
  }
}
#navbarOffcanvasLg {
  background-color: $color-principal;
  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    height: 380px;
    border-radius: 0px 0px 0px 20px;
    -webkit-border-radius: 0px 0px 0px 20px;
    -moz-border-radius: 0px 0px 0px 20px;
    -ms-border-radius: 0px 0px 0px 20px;
    -o-border-radius: 0px 0px 0px 20px;
    overflow: hidden;
  }
}
.header__nav__list {
  list-style: none;
  display: flex;
  padding-right: 20px;
  justify-content: end;
  padding-top: 20px;
  @media screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px;
    list-style: circle;
  }
  .header__nav__list__item {
    display: flex;
    margin: 0px 20px;
    font-size: 1.3rem;
    @media screen and (max-width: 992px) {
      font-size: 1.4rem;
      margin: 10px 0px;
    }
    @media only screen and (max-width: 600px) {
      font-size: 1.3rem;
      color: $color-secundario;
      text-decoration: none;
      margin: 10px 0px;
    }
    .pagina {
      font-weight: 700;
      text-decoration: none;
      color: $color-secundario;
      @media screen and (max-width: 992px) {
        display: initial;
        @media only screen and (max-width: 600px) {
          font-size: 1.4rem;
        }
      }
      i {
        display: none;
        @media screen and (max-width: 992px) {
          display: initial;
        }
      }
      &:hover {
        color: $color-detalle;
      }
    }
  }
}

btn-close {
  @media screen and (max-width: 992px) {
    font-size: 1.4rem;
    margin: 20px;
  }
}
.container__enlacefinal {
  padding-top: 40px;
  height: 130px;
  text-align: center;
  .container__enlacefinal__a {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-detalle;
    text-decoration: none;
    @media only screen and (max-width: 600px) {
      font-size: 1.9rem;
    }
    &:hover {
      color: $color-detalle-d;
    }
  }
}
footer {
  border-top: 2px solid $color-secundario;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer__copyright {
    padding-left: 20px;
    font-size: 1.2rem;
    @media only screen and (max-width: 600px) {
      padding: 0px;
      font-size: 1.3rem;
    }
  }
  .footer__social {
    display: flex;
    padding-right: 20px;
    @media only screen and (max-width: 600px) {
      padding: 0px;
      padding-bottom: 10px;
    }
    a {
      margin: 0px 5px;
      i {
        font-size: 2.2rem;
        @media only screen and (max-width: 600px) {
          font-size: 3rem;
        }
      }
    }
  }
}
.carro {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
  }
}
