html {
  min-height: 100vh;
  -webkit-overflow-scrolling: auto;
}
p::selection,
h3::selection,
h4::selection,
a::selection {
  background-color: $color-secundario;
  color: white;
}
body {
  background-image: linear-gradient(135deg, #ffe6cf 45%, #ffd2a8 100%);
  min-height: 100vh;
  background-repeat: no-repeat;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  color: $color-secundario;
  overflow: auto;
  -webkit-overflow-scrolling: auto;
}
h1 {
  font-weight: 700;
  &::selection {
    background-color: $color-secundario;
    color: white;
  }
}
h2 {
  font-weight: 600;
  &::selection {
    background-color: $color-secundario;
    color: white;
  }
}

.header {
  height: 105px;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    height: 105px;
  }
  .header__nav {
    border-bottom: 2px solid $color-secundario;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    background-color: $color-principal;
    @media only screen and (max-width: 600px) {
      padding-top: 10px;
      border-bottom: 2px solid $color-secundario;
    }
    .navbtn {
      margin-right: 30px;
      margin-top: 10px;
      display: none;
      @media only screen and (max-width: 990px) {
        display: initial;
      }
    }
    .header__nav__inicio {
      height: 100px;
      width: 200px;
      margin-left: 30px;
      background-image: url("../iconos/logo2.png");
      background-size: contain;
      background-repeat: no-repeat;
      @media screen and (max-width: 944px) {
        background-image: url(../iconos/logo.png);
        background-repeat: no-repeat;
        margin: 0px;
        width: 105px;
        margin-left: 20px;
        object-fit: cover;
      }
      @media screen and (max-width: 768px) {
        background-image: url("../iconos/logo.png");
        background-repeat: no-repeat;
      }
    }
  }
}
#navbarNavDarkDropdown {
  @media screen and (min-width: 992px) {
    display: flex;
    justify-content: end;
    ul {
      padding: 0px;
    }
  }
}
.header__nav__list {
  list-style: none;
  display: flex;
  padding-right: 20px;
  justify-content: end;
  @media screen and (max-width: 990px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 30px;
    list-style: circle;
  }
  .header__nav__list__item {
    display: flex;
    margin: 0px 20px;
    font-size: 1.3rem;
    @media screen and (max-width: 990px) {
      font-size: 1.4rem;
      margin: 10px 0px;
    }
    @media only screen and (max-width: 600px) {
      font-size: 1.3rem;
      color: $color-secundario;
      text-decoration: none;
      margin: 10px 0px;
    }
    .pagina {
      font-weight: 700;
      text-decoration: none;
      color: $color-secundario;
      @media screen and (max-width: 992px) {
        display: initial;
        @media only screen and (max-width: 600px) {
          font-size: 1.4rem;
        }
      }
      i {
        display: none;
        @media screen and (max-width: 990px) {
          display: initial;
        }
      }
      &:hover {
        color: $color-detalle;
      }
    }
  }
}
.dropdown {
  @media only screen and (max-width: 990px) {
    height: 350px;
  }
}
.container__enlacefinal {
  margin: 50px 0px;

  text-align: map-get($estilos, centro);
  .container__enlacefinal__a {
    font-size: map-get($estilos, fsize);
    font-weight: 700;
    color: map-get($estilos, tcolor);
    text-decoration: map-get($estilos, tdecoration);
    @media only screen and (max-width: 600px) {
      font-size: 1.9rem;
    }
    &:hover {
      color: $color-detalle-d;
    }
  }
}
footer {
  background-color: $color-secundario;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    padding: 10px;
    flex-direction: column;
    align-items: center;
    height: 100px;
  }
  .footer__copyright {
    background-color: $color-secundario;
    color: $color-principal;
    padding-left: 20px;
    font-size: 1.2rem;
    p {
      background-color: $color-secundario;
      color: $color-principal;
      margin: 0px;
    }
    @media only screen and (max-width: 600px) {
      padding: 0px;
      font-size: 1.3rem;
    }
  }
  .footer__social {
    background-color: $color-secundario;

    display: flex;
    padding-right: 20px;
    @media only screen and (max-width: 600px) {
      padding: 0px;
      padding-bottom: 10px;
    }
    a {
      background-color: $color-secundario;
      margin: 0px 6px;
      width: 34px;
      height: 34px;
      outline: 2px solid $color-principal;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      transition-property: outline-offset, outline-color, background-color;
      transition-duration: 0.15s;
      color: white;
      text-align: center;
      overflow: hidden;
      outline-offset: 2px;
      &:hover {
        outline-offset: 4px;
      }
      &:hover i {
        animation: shake 0.25s;
        -webkit-animation: shake 0.25s;
      }
      i {
        color: $color-principal;
        background-color: $color-secundario;
        font-size: 2.1rem;

        @media only screen and (max-width: 600px) {
          font-size: 3rem;
        }
      }
      .wpico,
      .igico,
      .fbico {
        width: 35px;
        height: 35px;
        padding: 3px 0px 0px 0px;
        font-weight: 500;
        text-align: center;
        font-size: 1.82rem;
        background-color: $color-principal;
        color: $color-secundario;
      }
      .fbico {
        font-size: 2rem;
        font-weight: 100;
      }
    }
  }
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
  }
}
.carro {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
  }
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  &:hover {
    color: $color-detalle;
  }
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;
    }
  }
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $color-secundario;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: $color-secundario;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.fa-utensils {
  padding-right: 4px;
}
html {
  height: 100%;
}
.oscuro {
  background-image: linear-gradient(135deg, #121212 49%, #313131 100%);
  height: 100%;
  background-repeat: no-repeat;
  color: #dfdfdf;
  .header {
    #navbar {
      border-bottom: 2px solid $color-f;
      background-color: $color-secundario-d;
      .header__nav__inicio {
        background-image: url("../iconos/logo1d.png");
        @media screen and (max-width: 944px) {
          background-image: url(../iconos/logo2d.png);
        }
        @media screen and (max-width: 768px) {
          background-image: url("../iconos/logo2d.png");
        }
      }
      .hamburger {
        .hamburger-box {
          .hamburger-inner {
            background-color: $color-texto-d;
            &::after,
            &::before {
              background-color: $color-texto-d;
            }
          }
        }
      }
      .collapse {
        .navbar-nav {
          .dropdown {
            .uldiv {
              .header__nav__list {
                .header__nav__list__item {
                  .pagina {
                    color: $color-texto-d;
                    transition: all 0.2s ease;
                    -webkit-transition: all 0.2s ease;
                    -moz-transition: all 0.2s ease;
                    -ms-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    &:hover {
                      color: $color-f;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .container__enlacefinal {
    .container__enlacefinal__a {
      color: #ebebeb;
      &:hover {
        color: $color-f;
      }
    }
  }
  footer {
    border-top: 2px solid $color-f;
    background-color: $color-secundario-d;
    .footer__copyright {
      background-color: $color-secundario-d;
      p {
        background-color: $color-secundario-d;
        color: $color-texto-d;
      }
    }
    .footer__social {
      background-color: $color-secundario-d;
      a {
        outline-color: $color-texto-d;
        i {
          color: $color-texto-d;
          background-color: $color-principal-d;
        }
      }
    }
  }
}

.toggle-btn {
  position: relative;
  width: 60px;
  height: 30px;
  margin: 0 auto;
  border-radius: 40px;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
#_1st-toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: $color-secundario;
  border-radius: 40px;
  // transition: 0.2s ease background-color, 0.2s ease opacity;
  // -webkit-transition: 0.2s ease background-color, 0.2s ease opacity;
  // -moz-transition: 0.2s ease background-color, 0.2s ease opacity;
  // -ms-transition: 0.2s ease background-color, 0.2s ease opacity;
  // -o-transition: 0.2s ease background-color, 0.2s ease opacity;
}
#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
  content: "";
  position: absolute;
  top: 3px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  // transition: 0.2s ease transform, 0.2s ease background-color;
  // -webkit-transition: 0.2s ease transform, 0.2s ease background-color;
  // -moz-transition: 0.2s ease transform, 0.2s ease background-color;
  // -ms-transition: 0.2s ease transform, 0.2s ease background-color;
  // -o-transition: 0.2s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
  background-color: $color-secundario;
  transform: translate(-58px, 0px);
  z-index: 1;
  -webkit-transform: translate(-58px, 0px);
  -moz-transform: translate(-58px, 0px);
  -ms-transform: translate(-58px, 0px);
  -o-transform: translate(-58px, 0px);
}

#_1st-toggle-btn span:after {
  background-color: $color-principal;
  transform: translate(8px, 0px);
  z-index: 0;
  width: 22px;
  height: 22px;
  margin-top: 1px;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span {
  background-color: $color-f;
}

#_1st-toggle-btn input[type="checkbox"]:active + span {
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before {
  background-color: $color-f;
  transform: translate(20px, -4px);
  -webkit-transform: translate(20px, -4px);
  -moz-transform: translate(20px, -4px);
  -ms-transform: translate(20px, -4px);
  -o-transform: translate(20px, -4px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after {
  background-color: $color-secundario;
  height: 24px;
  top: 2px;
  transform: translate(30px, 0px);
  -webkit-transform: translate(30px, 0px);
  -moz-transform: translate(30px, 0px);
  -ms-transform: translate(30px, 0px);
  -o-transform: translate(30px, 0px);
}
