.container__video {
  margin-top: 10px;
  width: 100%;
  height: 480px;
  position: relative;
  @extend %disposicion;
  @media only screen and (max-width: 600px) {
    height: 700px;
  }
  video {
    object-fit: cover;
    width: 100%;
    height: 480px;
    position: absolute;
    z-index: 1;
    @media only screen and (max-width: 600px) {
      height: 700px;
    }
  }
  .container__overlay {
    position: absolute;
    width: 100%;
    height: 480px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    @media only screen and (max-width: 600px) {
      height: 700px;
    }
  }
  .main__inicio {
    background: rgba(223, 231, 233, 0);
    width: 600px;
    position: relative;
    z-index: 3;
    @media only screen and (max-width: 600px) {
      padding: 0px 20px;
    }
    .main__inicio__titulo {
      @extend %configini;
      text-transform: uppercase;
      font-size: 55px;
      line-height: 1.1;
      @media screen and (max-width: 768px) {
        text-transform: uppercase;
        font-size: 65px;
      }
      @media only screen and (max-width: 600px) {
        font-size: 45px;
      }
    }
    .main__inicio__subtitulo {
      @extend %configini;
      text-transform: uppercase;
      font-size: 25px;
      line-height: 1.6;
      @media screen and (max-width: 768px) {
        font-size: 27px;
      }
      @media only screen and (max-width: 600px) {
        font-size: 25px;
      }
    }
    .main__inicio__p {
      @extend %configini;
      font-size: 16px;
      line-height: 1.4;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
      @media only screen and (max-width: 600px) {
        font-size: 20px;
      }
    }
  }
}
.indexlg .container {
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
.container__vermas {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background-color: transparent;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}
.container__vermas__article {
  background-color: $color-principal;
  color-scheme: light;
  padding: 20px;
  width: 300px;
  height: 500px;
  margin: 40px 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  @media screen and (max-width: 992px) {
    width: 30%;
    height: 550px;
    margin: 0px;
    margin: 30px 10px;
  }
  @media screen and (max-width: 768px) {
    width: 70%;
    margin: 60px 15%;
    height: 500px;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 70px;
    margin-top: 40px;
    height: 530px;
  }
  .vermas__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    .container__vermas__titulo {
      font-size: 1.4rem;
      @media screen and (max-width: 850px) {
        font-size: 1.2rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
        padding-top: 20px;
      }
    }
    @media screen and (max-width: 1120px) {
      width: 100%;
    }
    .container__vermas__titulo {
      font-weight: 700;
    }
    .container__vermas__imagen {
      object-fit: cover;
      height: 250px;
      width: 260px;
      padding: 10px;
      @media screen and (max-width: 992px) {
        width: 100%;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
      }
      @media only screen and (max-width: 600px) {
        width: 90%;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
      }
    }
    .container__vermas__p {
      @media only screen and (max-width: 600px) {
        width: 80%;
        padding-top: 10px;
      }
    }
  }
  .container__vermas__a {
    padding: 10px 20px;
    color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: $color-secundario;
    text-decoration: none;
    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
      padding: 10px 20px;
    }
    @media only screen and (max-width: 600px) {
      margin: 20px 0px;
    }
    &:hover {
      color: white;
      background-color: $color-detalle-d;
    }
  }
}

.container__titulo {
  margin: 40px 10px 0px;
  font-weight: 700;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 600px) {
    margin-bottom: 20px;
  }
}
.container__novedades {
  width: 100%;
  height: 450px;
  background-color: transparent;
  @extend %disposicion;
  @media screen and (max-width: 768px) {
    height: 900px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  @media only screen and (max-width: 600px) {
    height: auto;
    width: 100%;
  }
}
.container__novedades__article {
  background-color: $color-principal;
  display: inline-block;
  width: 350px;
  height: 350px;
  overflow: hidden;
  padding: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  @media screen and (max-width: 1199px) {
    margin: 0px;
    margin: 0px 10px;
    width: 30%;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    padding: 0px;
    width: 90%;
    height: 250px;
    margin: 40px 5% 50px 5%;
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    padding: 0px;
    align-items: center;
    max-width: 100%;
    height: 400px;
    margin: 20px 5%;
    margin-bottom: 50px;
  }
  h4 {
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 200px;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
    background-position-x: center;
    @media screen and (max-width: 810px) {
      height: 180px;
    }
    @media screen and (max-width: 768px) {
      padding: 10px;
      height: 250px;
      font-size: 1.2rem;
      width: 60%;
    }
    @media only screen and (max-width: 600px) {
      padding: 10px 0px;
      font-size: 1.8rem;
      width: 100%;
      height: 55%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .container__novedades__h4--jf {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
      url(../imagenes/festival.jpg);
  }
  .container__novedades__h4--nl {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
      url(../imagenes/nuevolocal2.jpg);
  }
  .container__novedades__h4--sf {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
      url(../imagenes/streetfood.jpg);
  }
  .container__novedades__p {
    padding: 10px 20px;
    font-size: 0.88rem;
    @media screen and (max-width: 768px) {
      padding: 20px;
      font-size: 1rem;
      width: 40%;
    }
    @media only screen and (max-width: 600px) {
      font-size: 1.1rem;
      text-align: center;
      width: 100%;
      height: 40%;
    }
  }
}
.indexlg {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.indexslid {
  @media only screen and (max-width: 600px) {
    padding: 30px;
    overflow: hidden;
    width: 100%;
  }
}
.novedadeslid {
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}
.container__novedades article {
  transition: transform ease 300ms;
  &:hover {
    transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
  }
}
body.oscuro {
  .carro {
    .carousel-inner {
      .carousel-item {
        .container__vermas__article {
          background-color: $color-secundario-d;
          box-shadow: 0px 6px 10px 0px hsla(0, 0%, 0%, 0.14),
            0px 1px 18px 0px hsla(0, 0%, 0%, 0.12),
            0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
          .vermas__contenido {
            img {
              filter: brightness(0.8) contrast(1.2);
            }
          }
          .container__vermas__a {
            background-color: $color-principal-d;
            &:hover {
              background-color: $color-f;
            }
          }
        }
        .container__novedades__article {
          background-color: $color-secundario-d;
          box-shadow: 0px 6px 10px 0px hsla(0, 0%, 0%, 0.14),
            0px 1px 18px 0px hsla(0, 0%, 0%, 0.12),
            0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
        }
      }
    }
  }
  .indexlg {
    .container__vermas {
      .container__vermas__article {
        background-color: $color-secundario-d;
        box-shadow: 0px 6px 10px 0px hsla(0, 0%, 0%, 0.14),
          0px 1px 18px 0px hsla(0, 0%, 0%, 0.12),
          0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
        .vermas__contenido {
          img {
            filter: brightness(0.8) contrast(1.2);
          }
        }
        .container__vermas__a {
          background-color: $color-principal-d;
          &:hover {
            background-color: $color-f;
          }
        }
      }
    }
    .container__novedades {
      .container__novedades__article {
        background-color: $color-secundario-d;
        box-shadow: 0px 6px 10px 0px hsla(0, 0%, 0%, 0.14),
          0px 1px 18px 0px hsla(0, 0%, 0%, 0.12),
          0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
      }
    }
  }
}
