.container__menu__titulo {
  padding-top: 40px;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 3rem;
  }
  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}
.menu__icono__div {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  .menu__icono {
    height: 30px;
    width: 30px;

    @media screen and (max-width: 768px) {
      height: 80px;
      width: 80px;
    }
    @media only screen and (max-width: 600px) {
      height: 80px;
      width: 80px;
    }
  }
}
.menu__h2 {
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 2.3rem;
  }
  @media only screen and (max-width: 600px) {
    font-size: 2.3rem;
  }
}
.menu {
  margin: 20px 0px;
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 1200px) {
    display: none;
    & .menu__platos {
      position: relative;
    }
    @media only screen and (max-width: 600px) {
      position: relative;
    }
  }

  & .menu__platos:hover .menu__img {
    transform: translate(125px, 0px);
    -webkit-transform: translate(125px, 0px);
    -moz-transform: translate(125px, 0px);
    -ms-transform: translate(125px, 0px);
    -o-transform: translate(125px, 0px);
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
    @media screen and (max-width: 1200px) {
      transform: translate(0px, 0px);
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
    @media only screen and (max-width: 600px) {
      transform: translate(0px, 0px);
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
  }
  & .menu__platos:hover .menu__text {
    transform: translate(-125px, 0px);
    -webkit-transform: translate(-125px, 0px);
    -moz-transform: translate(-125px, 0px);
    -ms-transform: translate(-125px, 0px);
    -o-transform: translate(-125px, 0px);
    border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    -ms-border-radius: 15px 0px 0px 15px;
    -o-border-radius: 15px 0px 0px 15px;
    @media screen and (max-width: 1200px) {
      transform: translate(0px, 0px);
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
    @media only screen and (max-width: 600px) {
      transform: translate(0px, 0px);
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
    }
  }
}
.menu2 {
  @media screen and (max-width: 1200px) {
    gap: 60px;
    padding: 20px;
  }
  @media only screen and (max-width: 600px) {
    gap: 60px;
    width: 100%;
  }
}
.menu__platos {
  position: relative;
  @include size(250px);
  display: flex;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  @media screen and (max-width: 1200px) {
    width: 76%;
    height: 350px;
    flex-direction: row-reverse;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin: 30px 12%;
  }
  @media screen and (max-width: 868px) {
    width: 95%;
    margin: 30px 2.5%;
  }
  @media only screen and (max-width: 700px) {
    width: 100%;
    height: 700px;
    flex-direction: column-reverse;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin: 30px 0px;
  }
  .precio {
    padding: 10px;
    background-color: #f4dbc5;
    width: 100%;
    height: 30%;
    @media screen and (max-width: 768px) {
      padding-top: 25px;
    }
    @media screen and (max-width: 768px) {
      padding-top: 15px;
    }
    .preciomalo {
      opacity: 0.7;

      @media screen and (max-width: 768px) {
        font-size: 1.4rem;
        line-height: 25px;
      }
    }
    .pm {
      opacity: 0;
    }
    .preciobueno {
      color: $color-detalle;

      @media screen and (max-width: 768px) {
        font-size: 2.3rem;
        line-height: 30px;
      }
    }
  }
  .menu__text {
    display: flex;
    flex-direction: column;
    text-align: right;
    @include size(250px);
    overflow: hidden;
    gap: 4px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    justify-content: space-between;
    height: 100%;
    .divtext {
      height: 70%;
      .menu__h4 {
        font-size: 1.1rem;
        font-weight: 600;
        padding: 10px;
        @media screen and (max-width: 1200px) {
          font-size: 1.4rem;
        }
        @media screen and (max-width: 768px) {
          font-size: 1.6rem;
          font-weight: 700;
        }
        @media only screen and (max-width: 600px) {
          font-size: 1.6rem;
          font-weight: 700;
        }
        i {
          font-size: 1.7rem;
        }
      }
      .menu__p {
        font-size: 0.9rem;
        padding: 0px 10px;
        @media screen and (max-width: 1200px) {
          font-size: 1.3rem;
        }
        @media screen and (max-width: 900px) {
          font-size: 1.18rem;
        }
        @media screen and (max-width: 768px) {
          font-size: 1.15rem;
        }
        @media only screen and (max-width: 600px) {
          font-size: 1.2rem;
        }
      }
    }

    @media screen and (max-width: 1200px) {
      position: relative;
      box-shadow: none;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }
    @media only screen and (max-width: 600px) {
      position: relative;
      box-shadow: none;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
  .menu__img {
    @include size(250px);
    position: absolute;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    @media screen and (max-width: 1200px) {
      height: 350px;
      width: 100%;
      position: relative;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      box-shadow: none;
      object-fit: cover;
    }
    @media only screen and (max-width: 600px) {
      height: 400px;
      width: 100%;
      position: relative;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      box-shadow: none;
      object-fit: cover;
    }
  }
}

.oscuro {
  main {
    .menu__icono__div {
      filter: invert(7%) sepia(34%) saturate(7075%) hue-rotate(336deg)
        brightness(88%) contrast(109%);
      -webkit-filter: invert(7%) sepia(34%) saturate(7075%) hue-rotate(336deg)
        brightness(88%) contrast(109%);
    }
    .menu {
      .menu__platos {
        img {
          filter: brightness(0.8) contrast(1.2);
        }
        .menu__text {
          background-color: $color-secundario-d;
        }
        .precio {
          background-color: #313131;
          h3 {
            color: $color-f;
          }
        }
      }
    }
    .carro {
      .carousel-inner {
        .carousel-item {
          .menu__platos {
            .menu__text {
              background-color: $color-secundario-d;
            }
            .precio {
              background-color: #313131;

              h3 {
                color: $color-f;
              }
            }
          }
        }
      }
    }
  }
}
.carro2 {
  display: none;
  @media screen and (max-width: 1200px) {
    display: flex;
  }
}
