.main__ubicacion {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  @media only screen and (max-width: 600px) {
    margin-top: 50px;
    width: 100%;
    height: auto;
  }
}
#horario {
  margin: 20px;
  width: 100%;
}
.localuno {
  width: 70%;
  iframe {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  @media only screen and (max-width: 600px) {
    width: 95%;
  }
}
.localdos {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  iframe {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  h2 {
    font-size: 1.6rem;
  }
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}
.oscuro {
  .main__ubicacion {
    .localuno {
      iframe {
        filter: hue-rotate(325deg);
        -webkit-filter: hue-rotate(325deg);
        box-shadow: 0px 6px 10px 0px hsla(0, 0%, 0%, 0.14),
          0px 1px 18px 0px hsla(0, 0%, 0%, 0.12),
          0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
      }
    }
    .localdos {
      iframe {
        filter: hue-rotate(325deg);
        -webkit-filter: hue-rotate(325deg);
        box-shadow: 0px 6px 10px 0px hsla(0, 0%, 0%, 0.14),
          0px 1px 18px 0px hsla(0, 0%, 0%, 0.12),
          0px 3px 5px -1px hsla(0, 0%, 0%, 0.2);
      }
    }
  }
}
