.main__ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  @media only screen and (max-width: 600px) {
    margin-top: 50px;
    width: 100%;
    height: auto;
  }
}
#horario {
  margin: 20px;
  width: 100%;
}
.localuno {
  width: 70%;
  @media only screen and (max-width: 600px) {
    width: 95%;
  }
}
.localdos {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}
