.main__ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
#horario {
  margin: 20px;
  width: 100%;
}
.localuno {
  width: 70%;
}
.localdos {
  margin-top: 50px;
  width: 50%;
}
